#tasks{
    margin: 0px;
}
.card{
    text-align: left;
    width:auto;
    display:block;
    margin: 8px;
    padding:4px;
    padding-left: 20px;
    font-size:1em;
    background-color: white;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 2px;
    position: relative;
}
h2{
    font-size: 1.7em;
    margin: 4px 0px 4px 0px;
    padding: 0px 0px 0px 4px;
    border-left: 4px solid #555555;
}
h3{
    font-size: 1.3em;
    margin: 4px 0px 4px 0px;
    padding: 0px 0px 0px 4px;
    border-left: 4px solid #555555;
}
.details{
    display: block;
    padding: 0px 0px 0px 8px;
}
.subHeading{
    border: 0px;
}
