#tasks{
    margin: 0px;
}
.card{
    text-align: left;
    width:auto;
    display:block;
    margin: 2px;
    padding:4px;
    padding: 4px;
    font-size:1em;
    background-color: white;
    box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 2px;
    position: relative;
}
h3{
    font-size: 1.7em;
    margin: 2px;
    padding: 0px 0px 0px 4px;
    border-left: 4px solid #555555;
}
.details{
    display: block;
    margin: 0px;
    padding: 0px 0px 0px 8px;
}
.subHeading{
    border: 0px;
}
.postDate{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 0.8em;
    color: #666666;
}
#headerImage{
    width: 100%;
    height: auto;
    max-height: 100%;
    padding: 0px;
    max-width: 100%;
    opacity: 0.6;
}
#splashContainer{
    position: absolute;
    top: 30%;
    z-index: 1;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 100%;
}
#bigSplash{
    color: #FF5400;
    font-size: 3em;
    font-weight: bold;
    margin: 10px;
}
#littleSplash{
    color: #222222;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1em;
}
#splashButton{
    color: #222222;
    height: auto;
    font-size: 2em;
    border: 0px;
    border-radius: 4px;
    background-color: #2FC617;
}
#splashHeader{
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("https://farm5.staticflickr.com/4272/34954976072_162d01d5f6_z.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}
