@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f1f1f1;
    font-family: 'Source Sans Pro', sans-serif;
}
.task {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: solid 1px #d9d9d9;
    border-radius: 20px;
    font-size: 20px;
    text-overflow: ellipsis;
}
.taskTitle {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 4px 0px 4px 0px;
}
.taskBody{
    display: inline-block;
    margin: 4px;
}
#header {
    background-color: white;
    border: 3px #666666;
    border-bottom-style: solid;
    padding: 10px;
    margin: 0px;
    display: block;
}
#mainTitle {
    text-align: center;
    font-size: 40px;
}
img {
    max-height: 500px;
    max-width: 750px;
    display: block;
    margin: auto;
}
a {
    border-radius: 4px;
    color: black;
    text-decoration: underline;
}
a:hover{
    background-color: #666666;
}
.dueTime {
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    padding: 4px;
    background-color: #cccccc;
    border-radius: 4px;
}

input, textarea {
    width: 100%;
    margin: 4px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    outline-width: 0;
    resize: none;
    padding: 5px;
}
input:focus, textarea:focus {
    border: 2px solid #aaaaaa;
}

input[type=button] {
    font-size: 20px;
}

input[type=button]:hover {
    background-color: #666666;
}

input[type=button]:focus {
    background-color: #666666;
}

input[type=submit] {
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #666666;
}

input[type=submit]:focus {
    background-color: #666666;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
}

#main{
    transition: 0.5s;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 0px;
}

.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #eeeeee;
    display: block;
    transition: 0.3s
}

.sidebar a:hover{
    background-color: #666666;
}
#navButtons {
    text-align: center;
    font-size: 40px;
}

i {
    padding:3px;
    margin: 2px;
    border-radius: 4px;
}

i:hover {
    background-color: #666666;
}

#addButton {
    border-radius: 400px;
}

.sidebar form{
    color: #eeeeee;
    margin: 8px 8px 8px 0px;
    padding:8px;
    border-color: #818181;
    font-size: 15px;
}
.sidebar input, textarea{
    color: #eeeeee;
    background-color: #666666;
    font-size: 15px;
}

.sidebar p{
    color: #eeeeee;
    font-size: 25px;
}

#searchInput{
    display: inline-block;
    width: auto;
}

#searchButton{
    display: none;
    width: auto;
}

#searchForm {
    margin: 0px;
    padding: 0px;
}

.taskTag {
    display: inline-block;
    background-color: #cccccc;
    padding: 4px;
    margin: 4px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #555;
}

.taskTag:hover {
    background-color: #666666;
}

.topbar {
    display: block;
    line-height:0;
    height: 0;
    overflow: hidden;
}
