@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
* {
    box-sizing: border-box;
}
#infoHeader{
    display: block;
    margin: 4px auto 4px auto;
    padding: 4px;
}
#infoFooter{
    display: block;
    margin: 0px auto 4px auto;
    height: auto;
    padding: 4px;
}
body {
    margin: 0px;
    background-color: #f1f1f1;
    font-family: 'Source Sans Pro', sans-serif;
}
#tasks{
    text-align: center;
}
.task {
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 4px;
    border: solid 1px #d9d9d9;
    border-radius: 20px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 200px;
    width: 24%;
    min-width: 200px;
    transition: 0.5s;
}
.signup{
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 4px;
    border: solid 1px #d9d9d9;
    border-radius: 20px;
    font-size: 15px;
    height: auto;
    width: 50%;
    min-width: 200px;
    transition: 0.5s;
}
.taskTitle {
    display: block;
    text-align: center;
    font-size: 25px;
    margin: 4px 0px 4px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.taskBody{
    display: block;
    margin: 4px;
}
#archiveButton{
    margin: 6px 4px 4px 4px;
    display: inline-block;
    width: auto;
}
#header {
    background-color: white;
    border: 3px #666666;
    border-bottom-style: solid;
    padding: 10px;
    margin: 0px;
    display: block;
}
#footer {
    display: none;
}
#mainTitle {
    text-align: center;
    font-size: 40px;
}
img {
    max-height: 500px;
    max-width: 750px;
    display: block;
    margin: auto;
}
a {
    border-radius: 4px;
    color: black;
    text-decoration: underline;
}
a:hover{
    background-color: #666666;
}
.dueTime {
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    padding: 4px;
    background-color: #cccccc;
    border: 1px solid #555;
    border-radius: 4px;
}
.dueTime:hover{
    background-color: #666666;    
}
input, textarea {
    width: 100%;
    margin: 4px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    outline-width: 0;
    resize: none;
    padding: 5px;
}
input:focus, textarea:focus {
    border: 2px solid #aaaaaa;
}

input[type=button] {
    font-size: 15px;
    width: 80%;
}

input[type=button]:hover {
    background-color: #666666;
}

input[type=button]:focus {
    background-color: #666666;
}

input[type=submit] {
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #666666;
}

input[type=submit]:focus {
    background-color: #666666;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
}

#main{
    transition: 0.5s;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 0px;
}

.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #eeeeee;
    display: block;
    transition: 0.3s
}

.sidebar a:hover{
    background-color: #666666;
}
.topNavButtons {
    text-align: center;
    font-size: 40px;
}
.bottomNavButton {
    display: none;
}

i {
    padding:3px;
    margin: 2px;
    border-radius: 4px;
}
i:hover {
    background-color: #666666;
}
#addButton {
    border-radius: 400px;
}

.sidebar form{
    color: #eeeeee;
    margin: 8px 8px 8px 0px;
    padding:8px;
    border-color: #818181;
    font-size: 15px;
}
.sidebar input, textarea{
    color: #eeeeee;
    background-color: #666666;
    font-size: 15px;
}
.pushable{
    display: inline;
    width: auto;
}
.sidebar p{
    color: #eeeeee;
    font-size: 25px;
}

#searchInput{
    display: inline-block;
    width: auto;
}

#searchButton{
    display: none;
    width: auto;
}

#searchForm {
    margin: 0px;
    padding: 0px;
}
.tagAndDueTimeWrapper{
    display: block;
    margin: 0px;
    padding: 0px;
}
.taskTags{
    overflow: auto;
    border-bottom: 2px dashed #666666;
}
.taskTag {
    display: inline-block;
    font-weight: bold;
    background-color: #cccccc;
    padding: 4px;
    margin: 4px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #555;
}

.taskTag:hover {
    background-color: #666666;
}

.topbar {
    display: block;
    line-height:0;
    height: 0;
    overflow: hidden;
}
.noTaskTag {
    display: inline-block;
    background-color: #cccccc;
    padding: 4px;
    margin: 4px;
    font-size: 15px;
    border-radius: 4px;
}
.italic {
    font-style: italic;
}
#calHead {
    display: block;
    width: auto;
    color: #eeeeee;
    font-size: 30px;
    background-color: #333;
    border-radius: 4px;
    margin: 4px;
 }
#calBodyDiv {
    display: block;
    width: auto;
    height: 260px;
    padding: auto;
    text-align: center;
    background-color: #333;
    margin: 4px;
    border-radius: 4px;
}
table{
    width: 100%;
    margin: auto;
    height: 100%;
}
th, td{
    font-size: 15px;
    text-align: center;
    color: #eeeeee;
}
th{
    max-width: 20px;
}
td {
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #666666;
}
td:hover {
    background-color: #999;
}
.noDate {
    border: none;
    background-color: #333;
}
.noDate:hover {
    background-color: #333;
}
.todaysDate{
    background-color: #3fa36a;
}
.dueToday{
    background-color: #ff0000;
    color: #eeeeee;
}
::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background-color: #eeeeee;
}
::-webkit-scrollbar-thumb {
    background-color: #666666;
}
::-webkit-scrollbar-button {
    display:none;
}   
::-webkit-scrollbar-corner {
    display:none;
}
.activeDate{
    background-color: #ff7000;
}
.datePickerDiv{
    margin: 4px;
    width: 100%;
    max-height: 260px;
    border-radius: 4px;
    background-color: #333;
}

.datePickerTable{
    margin: auto;
    width: 100%;
    height: 90%;
}
.datePickerHead{
    font-size: 20px;
}
.dayName{
    font-weight: normal;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaaaaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaaaaa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaaaaa;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaaaaa;
}
#overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    opacity: 0.5;
    background-color: #000000; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#overlayText{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    opacity: 1;
    transform: translate(-50%,-50%);
}
